.stage {
  width: 100%;
  padding-bottom: 100%;
  display: inline-block;
  margin: 0%;
  -webkit-perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
}







.ball-earth {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-radial-gradient(50% 120%, circle cover, #00b407 10%, #003311 100%);
  );
      font-family: Arial;
  font-size: 46px;
}

.ball-earth:before {

   -webkit-background-clip: text;
    color: transparent;
    background-color: #330005;

  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ball-earth:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-radial-gradient(50% 0px, circle, #ffffff, rgba(255, 255, 255, 0) 75%);
  -webkit-filter: blur(2px);
  z-index: 2;
}












.ball-earth-selected {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-radial-gradient(50% 120%, circle cover, #004407 10%, #003311 100%);
  );
      font-family: Arial;
  font-size: 46px;
}

.ball-earth-selected:before {


  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ball-earth-selected:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}
