





.ball-spirit {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-radial-gradient(50% 120%, circle cover, #663051 10%, #63014f 100%);
  );
      font-family: Arial;
  font-size: 46px;
}


.ball-spirit:before {

   -webkit-background-clip: text;
    color: transparent;
    background-color: #CC0;


  
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}
.ball-spirit:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-radial-gradient(50% 0px, circle, #ffffff, rgba(255, 255, 255, 0) 75%);
  -webkit-filter: blur(2px);
  z-index: 2;
}




















.ball-spirit-selected {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-radial-gradient(50% 120%, circle cover, #361851 10%, #33014f 100%);
  );
      font-family: Arial;
  font-size: 46px;
}


.ball-spirit-selected:before {

   -webkit-background-clip: text;
    color: transparent;
    background-color: #CC0;


  
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}
.ball-spirit-selected:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
