




.ball-fire {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-radial-gradient(50% 120%, circle cover, #d41f1f 10%, #925a6e 100%);
  );
      font-family: Arial;
  font-size: 46px;
}

.ball-fire:before {

      -webkit-background-clip: text;
    color: transparent;
    background-color: #006;
 

  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.ball-fire:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-radial-gradient(50% 0px, circle, #ffffff, rgba(255, 255, 255, 0) 75%);
  -webkit-filter: blur(2px);
  z-index: 2;
}
















.ball-fire-selected {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-radial-gradient(50% 120%, circle cover, #331f1f 10%, #925a6e 100%);
  );
      font-family: Arial;
  font-size: 46px;
}

.ball-fire-selected:before {

      -webkit-background-clip: text;
    color: transparent;
    background-color: #006;
 

  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.ball-fire-selected:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}
