.plus-button {
	-webkit-transform: translate(72%,0%);
	outline: none;
  /*  display:block;*/
 display:none;
    width:40%;
    padding-top:40%;
    border: 0px;
    border-radius: 50%;
    color:#f5f5f5;
	line-height : 0px;
    background: #868686;
    box-shadow: 0 0 3px gray;
    font-weight:bold;
}
.plus-button:hover {
	outline: none;
    background: #666666;
}

.plus-button:active {
    outline: none;
	background: #161616;
}

.centralizer {
position:absolute;
top:0px;
right:0px;
left:0px;
bottom:0px;
}











.minus-button {
	-webkit-transform: translate(72%,0%);
	outline: none;
      /*  display:block;*/
 display:none;
    width:40%;
    padding-top:40%;
    border: 0px;
    border-radius: 50%;
    color:#f5f5f5;
	line-height : 0px;
    background: #868686;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}
.minus-button:hover {
	outline: none;
    background: #666666;
}

.minus-button:active {
    outline: none;
	background: #161616;
}
